<h1 class="text-center text-5x1 text-gray-800 py-16">HOME</h1>
<p class="text-center text-gray-800 text-3x1 font-semibold">Bienvenidos a mi aplicación</p>
<div class="text-center w-full my-16">
    <a href="/tasks" class="font-semibold bg-green-500 text-x1 text-white hover:bg-green-700 px-33 py-4 text-center
    rounded-md mx-auto">Comencemos</a>
</div>